{
  "openapi": "3.1.0",
  "info": {
    "title": "aki's Discord Tools API",
    "version": "1",
    "description": "Read-only helpers that mirror the tools on the site. No authentication, no user data stored. Webhook URLs are never accepted.\n\nEvery endpoint is a pure function served from static files, so the canonical method is GET with query parameters. POST is accepted too by any self-hosted copy of the handler.",
    "license": {
      "name": "aki's Discord Tools License",
      "url": "https://distools.itzdanti.dev/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://distools.itzdanti.dev"
    }
  ],
  "tags": [
    {
      "name": "Text"
    },
    {
      "name": "IDs"
    },
    {
      "name": "Discord"
    },
    {
      "name": "Invites"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Permissions"
    },
    {
      "name": "Emoji"
    },
    {
      "name": "Developer"
    },
    {
      "name": "Misc"
    },
    {
      "name": "Generators"
    }
  ],
  "paths": {
    "/api/v1/text/fancy": {
      "get": {
        "summary": "Convert text to a fancy Unicode style",
        "description": "Applies one of the site's font tables. Returns the same output as the Fancy Text tool.",
        "tags": [
          "Text"
        ],
        "operationId": "text.fancy",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to convert.",
            "example": "hello",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "style",
            "in": "query",
            "required": false,
            "description": "Style id from GET /text/styles.",
            "example": "bold",
            "schema": {
              "type": "string",
              "default": "bold",
              "enum": [
                "bold",
                "italic",
                "boldItalic",
                "script",
                "fraktur",
                "frakturSmall",
                "doubleStruck",
                "monospace",
                "circled",
                "squared",
                "fullwidth"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Convert text to a fancy Unicode style",
        "description": "Applies one of the site's font tables. Returns the same output as the Fancy Text tool.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Text"
        ],
        "operationId": "text.fancyPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Text to convert.",
                    "example": "hello"
                  },
                  "style": {
                    "type": "string",
                    "default": "bold",
                    "enum": [
                      "bold",
                      "italic",
                      "boldItalic",
                      "script",
                      "fraktur",
                      "frakturSmall",
                      "doubleStruck",
                      "monospace",
                      "circled",
                      "squared",
                      "fullwidth"
                    ],
                    "description": "Style id from GET /text/styles.",
                    "example": "bold"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/text/styles": {
      "get": {
        "summary": "List every fancy text style",
        "description": "Style ids accepted by POST /text/fancy.",
        "tags": [
          "Text"
        ],
        "operationId": "text.styles",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/text/zalgo": {
      "get": {
        "summary": "Add combining characters (zalgo)",
        "description": "Same modes as the Zalgo tool.",
        "tags": [
          "Text"
        ],
        "operationId": "text.zalgo",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to stack.",
            "example": "aki",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Direction of the marks.",
            "schema": {
              "type": "string",
              "default": "random",
              "enum": [
                "up",
                "down",
                "middle",
                "random",
                "all"
              ]
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Marks per character.",
            "example": "3",
            "schema": {
              "type": "number",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Add combining characters (zalgo)",
        "description": "Same modes as the Zalgo tool.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Text"
        ],
        "operationId": "text.zalgoPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Text to stack.",
                    "example": "aki"
                  },
                  "mode": {
                    "type": "string",
                    "default": "random",
                    "enum": [
                      "up",
                      "down",
                      "middle",
                      "random",
                      "all"
                    ],
                    "description": "Direction of the marks."
                  },
                  "amount": {
                    "type": "number",
                    "default": 1,
                    "description": "Marks per character.",
                    "example": "3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/text/small-caps": {
      "get": {
        "summary": "Convert text to small caps",
        "description": "Unicode small capitals, not CSS.",
        "tags": [
          "Text"
        ],
        "operationId": "text.small-caps",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to convert.",
            "example": "aki",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Convert text to small caps",
        "description": "Unicode small capitals, not CSS.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Text"
        ],
        "operationId": "text.small-capsPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Text to convert.",
                    "example": "aki"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/text/spoiler": {
      "get": {
        "summary": "Wrap text in Discord spoilers",
        "description": "Either one spoiler per line or one per character.",
        "tags": [
          "Text"
        ],
        "operationId": "text.spoiler",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to hide.",
            "example": "secret",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "line or char.",
            "schema": {
              "type": "string",
              "default": "line",
              "enum": [
                "line",
                "char"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Wrap text in Discord spoilers",
        "description": "Either one spoiler per line or one per character.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Text"
        ],
        "operationId": "text.spoilerPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Text to hide.",
                    "example": "secret"
                  },
                  "mode": {
                    "type": "string",
                    "default": "line",
                    "enum": [
                      "line",
                      "char"
                    ],
                    "description": "line or char."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/text/divider": {
      "get": {
        "summary": "Build a text divider",
        "description": "Same characters as the Divider tool.",
        "tags": [
          "Text"
        ],
        "operationId": "text.divider",
        "parameters": [
          {
            "name": "char",
            "in": "query",
            "required": false,
            "description": "Character to repeat. Defaults to the first preset.",
            "example": "─",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "length",
            "in": "query",
            "required": false,
            "description": "How many characters.",
            "example": "60",
            "schema": {
              "type": "number",
              "default": 40
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Build a text divider",
        "description": "Same characters as the Divider tool.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Text"
        ],
        "operationId": "text.dividerPost",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "char": {
                    "type": "string",
                    "description": "Character to repeat. Defaults to the first preset.",
                    "example": "─"
                  },
                  "length": {
                    "type": "number",
                    "default": 40,
                    "description": "How many characters.",
                    "example": "60"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/text/status": {
      "get": {
        "summary": "Build a Discord custom status",
        "description": "Custom status needs Nitro. Presence (online, idle, do not disturb) is free and is set from the status picker, not a text field. Returns the emoji and preset lists so a client does not have to hardcode them.",
        "tags": [
          "Text"
        ],
        "operationId": "text.status",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": false,
            "description": "Status text, up to 128 characters.",
            "example": "focus mode",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emoji",
            "in": "query",
            "required": false,
            "description": "Optional leading emoji. Only added when it is missing.",
            "example": "💻",
            "schema": {
              "type": "string",
              "enum": [
                "💻",
                "🎨",
                "🎸",
                "☕",
                "😴",
                "🧘",
                "🥷",
                "🌱",
                "🍀",
                "🌛",
                "🦄",
                "🐈",
                "🐙",
                "🐛",
                "⚡",
                "🔥",
                "✨",
                "🚶",
                "🏃",
                "🧳",
                "💻",
                "✏",
                "📚",
                "🖥"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Build a Discord custom status",
        "description": "Custom status needs Nitro. Presence (online, idle, do not disturb) is free and is set from the status picker, not a text field. Returns the emoji and preset lists so a client does not have to hardcode them.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Text"
        ],
        "operationId": "text.statusPost",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Status text, up to 128 characters.",
                    "example": "focus mode"
                  },
                  "emoji": {
                    "type": "string",
                    "enum": [
                      "💻",
                      "🎨",
                      "🎸",
                      "☕",
                      "😴",
                      "🧘",
                      "🥷",
                      "🌱",
                      "🍀",
                      "🌛",
                      "🦄",
                      "🐈",
                      "🐙",
                      "🐛",
                      "⚡",
                      "🔥",
                      "✨",
                      "🚶",
                      "🏃",
                      "🧳",
                      "💻",
                      "✏",
                      "📚",
                      "🖥"
                    ],
                    "description": "Optional leading emoji. Only added when it is missing.",
                    "example": "💻"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/text/mentions": {
      "get": {
        "summary": "Build mention strings",
        "description": "One id per line, or separated by spaces or commas.",
        "tags": [
          "Text"
        ],
        "operationId": "text.mentions",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Mention type id.",
            "schema": {
              "type": "string",
              "default": "user",
              "enum": [
                "user",
                "nickname",
                "role",
                "channel",
                "everyone",
                "here",
                "stage",
                "command",
                "thread",
                "slash"
              ]
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "IDs to wrap.",
            "example": "81384788765712384",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Build mention strings",
        "description": "One id per line, or separated by spaces or commas.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Text"
        ],
        "operationId": "text.mentionsPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "user",
                    "enum": [
                      "user",
                      "nickname",
                      "role",
                      "channel",
                      "everyone",
                      "here",
                      "stage",
                      "command",
                      "thread",
                      "slash"
                    ],
                    "description": "Mention type id."
                  },
                  "ids": {
                    "type": "string",
                    "description": "IDs to wrap.",
                    "example": "81384788765712384"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/text/mention-types": {
      "get": {
        "summary": "List mention templates",
        "description": "Templates and notes for every mention type.",
        "tags": [
          "Text"
        ],
        "operationId": "text.mention-types",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/text/stats": {
      "get": {
        "summary": "Word, character and reading stats",
        "description": "Identical to the Word Counter tool.",
        "tags": [
          "Text"
        ],
        "operationId": "text.stats",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to measure.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Word, character and reading stats",
        "description": "Identical to the Word Counter tool.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Text"
        ],
        "operationId": "text.statsPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Text to measure."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/text/transform": {
      "get": {
        "summary": "Case changes and stylisers",
        "description": "Covers every mode of the Text Transform tool.",
        "tags": [
          "Text"
        ],
        "operationId": "text.transform",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to transform.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "description": "Transform to apply.",
            "example": "title",
            "schema": {
              "type": "string",
              "enum": [
                "upper",
                "lower",
                "title",
                "reverse",
                "spaced",
                "accent",
                "outline",
                "strikethrough",
                "superscript",
                "subscript",
                "escapeSpoiler"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Case changes and stylisers",
        "description": "Covers every mode of the Text Transform tool.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Text"
        ],
        "operationId": "text.transformPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Text to transform."
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "upper",
                      "lower",
                      "title",
                      "reverse",
                      "spaced",
                      "accent",
                      "outline",
                      "strikethrough",
                      "superscript",
                      "subscript",
                      "escapeSpoiler"
                    ],
                    "description": "Transform to apply.",
                    "example": "title"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/snowflake": {
      "get": {
        "summary": "Decode a snowflake",
        "description": "Timestamp, worker, process and increment from any 17-20 digit ID.",
        "tags": [
          "IDs"
        ],
        "operationId": "ids.snowflake",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The snowflake to decode.",
            "example": "81384788765712384",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/snowflake/create": {
      "get": {
        "summary": "Build a snowflake from a date",
        "description": "The inverse of the decode endpoint, using Discord's 2015 epoch.",
        "tags": [
          "IDs"
        ],
        "operationId": "ids.snowflake-create",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "ISO date or timestamp.",
            "example": "2024-01-01T00:00:00Z",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "worker_id",
            "in": "query",
            "required": false,
            "description": "Worker id, 0-31.",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "process_id",
            "in": "query",
            "required": false,
            "description": "Process id, 0-31.",
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "increment",
            "in": "query",
            "required": false,
            "description": "Increment, 0-1023.",
            "schema": {
              "type": "number",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Build a snowflake from a date",
        "description": "The inverse of the decode endpoint, using Discord's 2015 epoch.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "IDs"
        ],
        "operationId": "ids.snowflake-createPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "ISO date or timestamp.",
                    "example": "2024-01-01T00:00:00Z"
                  },
                  "worker_id": {
                    "type": "number",
                    "default": 1,
                    "description": "Worker id, 0-31."
                  },
                  "process_id": {
                    "type": "number",
                    "default": 0,
                    "description": "Process id, 0-31."
                  },
                  "increment": {
                    "type": "number",
                    "default": 0,
                    "description": "Increment, 0-1023."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/ids/mock": {
      "get": {
        "summary": "Generate fake snowflakes",
        "description": "Real snowflake-shaped ids for seeding a dev database or testing mention rendering. They decode to a real timestamp, so nobody can tell them apart from a real id by shape alone.",
        "tags": [
          "IDs"
        ],
        "operationId": "ids.mock",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "How many to generate.",
            "example": "10",
            "schema": {
              "type": "number",
              "default": 5
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "What the ids are for. Only changes the wording, never the format.",
            "schema": {
              "type": "string",
              "default": "user",
              "enum": [
                "user",
                "message",
                "role"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Generate fake snowflakes",
        "description": "Real snowflake-shaped ids for seeding a dev database or testing mention rendering. They decode to a real timestamp, so nobody can tell them apart from a real id by shape alone.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "IDs"
        ],
        "operationId": "ids.mockPost",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "number",
                    "default": 5,
                    "description": "How many to generate.",
                    "example": "10"
                  },
                  "kind": {
                    "type": "string",
                    "default": "user",
                    "enum": [
                      "user",
                      "message",
                      "role"
                    ],
                    "description": "What the ids are for. Only changes the wording, never the format."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/discord/users/{id}": {
      "get": {
        "summary": "Look up a user",
        "description": "Unauthenticated Discord call, relayed so browsers are not blocked by CORS. Discord answers 401 both for a user that does not exist and for one it will not serve without a token, and it does not distinguish the two, so treat a 401 as \"no public profile for this ID\" rather than as proof either way.",
        "tags": [
          "Discord"
        ],
        "operationId": "ids.user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID, or any string containing one.",
            "example": "81384788765712384",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/discord/guilds/{id}": {
      "get": {
        "summary": "Look up a server",
        "description": "Accepts a server ID or a bare invite code. Discord answers 401 on the bare guild route without a bot token, so a code is the reliable option and returns the same guild object. A path segment cannot contain slashes, so strip a discord.gg link down to its code first, or use GET /invites/{code} directly.",
        "tags": [
          "Discord"
        ],
        "operationId": "ids.guild",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Guild ID, invite code or discord.gg link.",
            "example": "197038439483310086",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/discord/invites/{code}": {
      "get": {
        "summary": "Look up an invite",
        "description": "Counts and expiry included. Unauthenticated.",
        "tags": [
          "Discord"
        ],
        "operationId": "ids.invite",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "Invite code or full discord.gg link.",
            "example": "discord",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/discord/emojis/{id}": {
      "get": {
        "summary": "Look up an emoji",
        "description": "Returns the CDN URL for every size Discord holds.",
        "tags": [
          "Discord"
        ],
        "operationId": "ids.emoji",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Emoji ID.",
            "example": "1234567890123456789",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/discord/snowflakes/{id}": {
      "get": {
        "summary": "Check whether a snowflake is a real user",
        "description": "A 404 means the ID does not belong to a user. Useful for verifying an ID someone sent you.",
        "tags": [
          "Discord"
        ],
        "operationId": "ids.snowflake-exists",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Snowflake to check.",
            "example": "81384788765712384",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/invites/extract": {
      "get": {
        "summary": "Pull the code out of an invite link",
        "description": "Pure string handling, no Discord call.",
        "tags": [
          "Invites"
        ],
        "operationId": "invites.extract",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Any invite link or bare code.",
            "example": "https://discord.gg/aki",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/invites/images": {
      "get": {
        "summary": "Resolve a server icon and banner from an invite",
        "description": "Returns CDN URLs rather than the image bytes, so nothing is proxied through here. Invite splash images are only shown to members who have passed the guild boost requirements.",
        "tags": [
          "Invites"
        ],
        "operationId": "invites.images",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "Invite code or full discord.gg link.",
            "example": "aki",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "CDN size. 16 to 4096.",
            "schema": {
              "type": "string",
              "default": "1024"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/invites/build": {
      "get": {
        "summary": "Validate invite options and build the query string",
        "description": "Discord only creates invites through an authenticated endpoint. This validates your options and returns the exact query string to send.",
        "tags": [
          "Invites"
        ],
        "operationId": "invites.build",
        "parameters": [
          {
            "name": "channel_id",
            "in": "query",
            "required": true,
            "description": "Channel the invite points at.",
            "example": "197038439483310086",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guild_id",
            "in": "query",
            "required": false,
            "description": "Guild ID, for the invite payload.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_age",
            "in": "query",
            "required": false,
            "description": "Seconds before expiry.",
            "example": "3600",
            "schema": {
              "type": "number",
              "default": 86400
            }
          },
          {
            "name": "max_uses",
            "in": "query",
            "required": false,
            "description": "0 is unlimited.",
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "temporary",
            "in": "query",
            "required": false,
            "description": "Members get the Temporary Membership flag.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "unique",
            "in": "query",
            "required": false,
            "description": "Force a new code.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "required": false,
            "description": "1 stream, 2 embedded application.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_id",
            "in": "query",
            "required": false,
            "description": "Target application or stream ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Validate invite options and build the query string",
        "description": "Discord only creates invites through an authenticated endpoint. This validates your options and returns the exact query string to send.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Invites"
        ],
        "operationId": "invites.buildPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "Channel the invite points at.",
                    "example": "197038439483310086"
                  },
                  "guild_id": {
                    "type": "string",
                    "description": "Guild ID, for the invite payload."
                  },
                  "max_age": {
                    "type": "number",
                    "default": 86400,
                    "description": "Seconds before expiry.",
                    "example": "3600"
                  },
                  "max_uses": {
                    "type": "number",
                    "default": 0,
                    "description": "0 is unlimited."
                  },
                  "temporary": {
                    "type": "boolean",
                    "default": false,
                    "description": "Members get the Temporary Membership flag."
                  },
                  "unique": {
                    "type": "boolean",
                    "default": true,
                    "description": "Force a new code."
                  },
                  "target_type": {
                    "type": "string",
                    "description": "1 stream, 2 embedded application."
                  },
                  "target_id": {
                    "type": "string",
                    "description": "Target application or stream ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/webhooks/payload": {
      "get": {
        "summary": "Build and validate a webhook payload",
        "description": "Returns the JSON body, the character count and any limit warnings. Webhook URLs are never sent to this API.",
        "tags": [
          "Webhooks"
        ],
        "operationId": "webhooks.payload",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "Webhook username override.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "avatar_url",
            "in": "query",
            "required": false,
            "description": "Webhook avatar override.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content",
            "in": "query",
            "required": false,
            "description": "Message content.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_content",
            "in": "query",
            "required": false,
            "description": "Always include an empty content field.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "thread_id",
            "in": "query",
            "required": false,
            "description": "Send into a thread.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "Embed object: title, description, color, fields and so on.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Build and validate a webhook payload",
        "description": "Returns the JSON body, the character count and any limit warnings. Webhook URLs are never sent to this API.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Webhooks"
        ],
        "operationId": "webhooks.payloadPost",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Webhook username override."
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Webhook avatar override."
                  },
                  "content": {
                    "type": "string",
                    "description": "Message content."
                  },
                  "include_content": {
                    "type": "boolean",
                    "default": false,
                    "description": "Always include an empty content field."
                  },
                  "thread_id": {
                    "type": "string",
                    "description": "Send into a thread."
                  },
                  "embed": {
                    "type": "string",
                    "description": "Embed object: title, description, color, fields and so on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/webhooks/limits": {
      "get": {
        "summary": "Embed and webhook limits",
        "description": "The numbers the Embed Builder checks against.",
        "tags": [
          "Webhooks"
        ],
        "operationId": "webhooks.limits",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/webhooks/rpc": {
      "get": {
        "summary": "Build a rich presence payload",
        "description": "The activity shape a bot or RPC client sends to show Playing, Listening to, Watching or Streaming. This endpoint only builds the JSON; it never connects to Discord. Requires no webhook and no token.",
        "tags": [
          "Webhooks"
        ],
        "operationId": "webhooks.rpc",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Main text, what you are doing.",
            "example": "Baldur's Gate 3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verb",
            "in": "query",
            "required": false,
            "description": "Which activity type to use.",
            "schema": {
              "type": "string",
              "default": "playing",
              "enum": [
                "playing",
                "listening",
                "watching",
                "streaming"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Optional second line.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "started_at",
            "in": "query",
            "required": false,
            "description": "Epoch milliseconds, for the elapsed clock.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "large_image",
            "in": "query",
            "required": false,
            "description": "Application icon key or URL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "small_image",
            "in": "query",
            "required": false,
            "description": "Secondary icon key or URL.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Build a rich presence payload",
        "description": "The activity shape a bot or RPC client sends to show Playing, Listening to, Watching or Streaming. This endpoint only builds the JSON; it never connects to Discord. Requires no webhook and no token.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Webhooks"
        ],
        "operationId": "webhooks.rpcPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Main text, what you are doing.",
                    "example": "Baldur's Gate 3"
                  },
                  "verb": {
                    "type": "string",
                    "default": "playing",
                    "enum": [
                      "playing",
                      "listening",
                      "watching",
                      "streaming"
                    ],
                    "description": "Which activity type to use."
                  },
                  "state": {
                    "type": "string",
                    "description": "Optional second line."
                  },
                  "started_at": {
                    "type": "number",
                    "description": "Epoch milliseconds, for the elapsed clock."
                  },
                  "large_image": {
                    "type": "string",
                    "description": "Application icon key or URL."
                  },
                  "small_image": {
                    "type": "string",
                    "description": "Secondary icon key or URL."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/permissions": {
      "get": {
        "summary": "Convert permission names to an integer, or back",
        "description": "Send names, an integer, or both. Unknown bits are reported rather than dropped.",
        "tags": [
          "Permissions"
        ],
        "operationId": "permissions.compute",
        "parameters": [
          {
            "name": "permissions",
            "in": "query",
            "required": false,
            "description": "Permission names, comma separated. Case and spacing do not matter.",
            "example": "View Channel,Send Messages",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integer",
            "in": "query",
            "required": false,
            "description": "Decimal, 0x hex or 0b binary integer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Convert permission names to an integer, or back",
        "description": "Send names, an integer, or both. Unknown bits are reported rather than dropped.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Permissions"
        ],
        "operationId": "permissions.computePost",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": "string",
                    "description": "Permission names, comma separated. Case and spacing do not matter.",
                    "example": "View Channel,Send Messages"
                  },
                  "integer": {
                    "type": "string",
                    "description": "Decimal, 0x hex or 0b binary integer."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/permissions/all": {
      "get": {
        "summary": "Every permission with its bit",
        "description": "Bits are strings because they exceed Number.MAX_SAFE_INTEGER in places.",
        "tags": [
          "Permissions"
        ],
        "operationId": "permissions.list",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/emojis": {
      "get": {
        "summary": "Search the built-in emoji library",
        "description": "The same data the Emoji Library tool renders.",
        "tags": [
          "Emoji"
        ],
        "operationId": "emoji.library",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Match against name, character or keywords.",
            "example": "cat",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category id.",
            "schema": {
              "type": "string",
              "enum": [
                "Smileys",
                "Gestures",
                "People",
                "Animals",
                "Food",
                "Activity",
                "Travel",
                "Objects",
                "Symbols",
                "Flags"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum results, 1-500.",
            "schema": {
              "type": "number",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/emojis/categories": {
      "get": {
        "summary": "List emoji categories",
        "description": "Category ids for the emoji search endpoint.",
        "tags": [
          "Emoji"
        ],
        "operationId": "emoji.categories",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/emoji/color-text": {
      "get": {
        "summary": "Get coloured text, or find out why you cannot",
        "description": "Discord does not render coloured text in a normal message. Colour only appears inside embeds, which bots and webhooks can post. In block mode this returns nine shades of the colour for decoration. Block coverage is unreliable: some fonts and themes render them as plain rectangles or not at all, so never use them to convey meaning.",
        "tags": [
          "Emoji"
        ],
        "operationId": "emoji.color-text",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "Text to colour.",
            "example": "coloured text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hex",
            "in": "query",
            "required": true,
            "description": "Colour as a hex string.",
            "example": "#5865f2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "embed for the payload a bot posts, blocks for the decoration.",
            "schema": {
              "type": "string",
              "default": "embed",
              "enum": [
                "embed",
                "blocks"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Get coloured text, or find out why you cannot",
        "description": "Discord does not render coloured text in a normal message. Colour only appears inside embeds, which bots and webhooks can post. In block mode this returns nine shades of the colour for decoration. Block coverage is unreliable: some fonts and themes render them as plain rectangles or not at all, so never use them to convey meaning.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Emoji"
        ],
        "operationId": "emoji.color-textPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "Text to colour.",
                    "example": "coloured text"
                  },
                  "hex": {
                    "type": "string",
                    "description": "Colour as a hex string.",
                    "example": "#5865f2"
                  },
                  "mode": {
                    "type": "string",
                    "default": "embed",
                    "enum": [
                      "embed",
                      "blocks"
                    ],
                    "description": "embed for the payload a bot posts, blocks for the decoration."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/base64": {
      "get": {
        "summary": "Base64 encode or decode",
        "description": "Standard and URL-safe alphabets.",
        "tags": [
          "Developer"
        ],
        "operationId": "codecs.base64",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "Value to convert.",
            "example": "hello",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "encode, decode, encodeUrl or decodeUrl.",
            "schema": {
              "type": "string",
              "default": "encode",
              "enum": [
                "encode",
                "decode",
                "encodeUrl",
                "decodeUrl"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Base64 encode or decode",
        "description": "Standard and URL-safe alphabets.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Developer"
        ],
        "operationId": "codecs.base64Post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "Value to convert.",
                    "example": "hello"
                  },
                  "mode": {
                    "type": "string",
                    "default": "encode",
                    "enum": [
                      "encode",
                      "decode",
                      "encodeUrl",
                      "decodeUrl"
                    ],
                    "description": "encode, decode, encodeUrl or decodeUrl."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/url": {
      "get": {
        "summary": "Percent-encode or decode a URL component",
        "description": "component mode also escapes !'()* the way encodeURIComponent should.",
        "tags": [
          "Developer"
        ],
        "operationId": "codecs.url",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "Value to convert.",
            "example": "a b&c",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "encode, decode or component.",
            "schema": {
              "type": "string",
              "default": "encode",
              "enum": [
                "encode",
                "decode",
                "component"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Percent-encode or decode a URL component",
        "description": "component mode also escapes !'()* the way encodeURIComponent should.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Developer"
        ],
        "operationId": "codecs.urlPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "Value to convert.",
                    "example": "a b&c"
                  },
                  "mode": {
                    "type": "string",
                    "default": "encode",
                    "enum": [
                      "encode",
                      "decode",
                      "component"
                    ],
                    "description": "encode, decode or component."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/json": {
      "get": {
        "summary": "Format, minify or validate JSON",
        "description": "Returns the output plus a structural summary of the document.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.json",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "JSON text.",
            "example": "{\"b\":1,\"a\":2}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "What to do with it.",
            "schema": {
              "type": "string",
              "default": "pretty",
              "enum": [
                "pretty",
                "minify",
                "validate",
                "escape",
                "unescape"
              ]
            }
          },
          {
            "name": "indent",
            "in": "query",
            "required": false,
            "description": "Spaces per level for pretty mode.",
            "schema": {
              "type": "number",
              "default": 2
            }
          },
          {
            "name": "sort_keys",
            "in": "query",
            "required": false,
            "description": "Sort object keys recursively.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Format, minify or validate JSON",
        "description": "Returns the output plus a structural summary of the document.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.jsonPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "JSON text.",
                    "example": "{\"b\":1,\"a\":2}"
                  },
                  "mode": {
                    "type": "string",
                    "default": "pretty",
                    "enum": [
                      "pretty",
                      "minify",
                      "validate",
                      "escape",
                      "unescape"
                    ],
                    "description": "What to do with it."
                  },
                  "indent": {
                    "type": "number",
                    "default": 2,
                    "description": "Spaces per level for pretty mode."
                  },
                  "sort_keys": {
                    "type": "boolean",
                    "default": false,
                    "description": "Sort object keys recursively."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/uuid": {
      "get": {
        "summary": "Generate v4 UUIDs",
        "description": "Cryptographically random, from the platform CSPRNG.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.uuid",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "How many, 1-100.",
            "example": "5",
            "schema": {
              "type": "number",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/color": {
      "get": {
        "summary": "Convert a colour between every format",
        "description": "Send hex, rgb() or hsl(). Returns hex, rgb, hsl, decimal and contrast data.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.color",
        "parameters": [
          {
            "name": "hex",
            "in": "query",
            "required": false,
            "description": "Hex colour, with or without the #.",
            "example": "#5865f2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rgb",
            "in": "query",
            "required": false,
            "description": "RGB string or object.",
            "example": "88, 101, 242",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hsl",
            "in": "query",
            "required": false,
            "description": "HSL string or object.",
            "example": "235, 86%, 65%",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Convert a colour between every format",
        "description": "Send hex, rgb() or hsl(). Returns hex, rgb, hsl, decimal and contrast data.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.colorPost",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hex": {
                    "type": "string",
                    "description": "Hex colour, with or without the #.",
                    "example": "#5865f2"
                  },
                  "rgb": {
                    "type": "string",
                    "description": "RGB string or object.",
                    "example": "88, 101, 242"
                  },
                  "hsl": {
                    "type": "string",
                    "description": "HSL string or object.",
                    "example": "235, 86%, 65%"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/password": {
      "get": {
        "summary": "Generate a password and score it",
        "description": "Character pools are configurable. Scoring matches the Password Generator tool.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.password",
        "parameters": [
          {
            "name": "length",
            "in": "query",
            "required": false,
            "description": "Characters, 4-128.",
            "example": "24",
            "schema": {
              "type": "number",
              "default": 20
            }
          },
          {
            "name": "uppercase",
            "in": "query",
            "required": false,
            "description": "Include A-Z.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "lowercase",
            "in": "query",
            "required": false,
            "description": "Include a-z.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "digits",
            "in": "query",
            "required": false,
            "description": "Include 0-9.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Include punctuation.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "avoid_ambiguous",
            "in": "query",
            "required": false,
            "description": "Drop l, 1, I, O, 0 and similar.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Generate a password and score it",
        "description": "Character pools are configurable. Scoring matches the Password Generator tool.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.passwordPost",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "length": {
                    "type": "number",
                    "default": 20,
                    "description": "Characters, 4-128.",
                    "example": "24"
                  },
                  "uppercase": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include A-Z."
                  },
                  "lowercase": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include a-z."
                  },
                  "digits": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include 0-9."
                  },
                  "symbols": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include punctuation."
                  },
                  "avoid_ambiguous": {
                    "type": "boolean",
                    "default": true,
                    "description": "Drop l, 1, I, O, 0 and similar."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/token/decode": {
      "get": {
        "summary": "Read the structure of a token",
        "description": "Decodes locally and sends nothing onward. The third segment is masked before it leaves the handler.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.token",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "A token you already own.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Read the structure of a token",
        "description": "Decodes locally and sends nothing onward. The third segment is masked before it leaves the handler.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.tokenPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "A token you already own."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/timestamp": {
      "get": {
        "summary": "Convert a date to Discord timestamp formats",
        "description": "Every style the Timestamp Generator shows.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.timestamp",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "ISO date or timestamp. Defaults to now.",
            "example": "2024-01-01T00:00:00Z",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Convert a date to Discord timestamp formats",
        "description": "Every style the Timestamp Generator shows.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.timestampPost",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "ISO date or timestamp. Defaults to now.",
                    "example": "2024-01-01T00:00:00Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/message-links": {
      "get": {
        "summary": "Split a message link into IDs",
        "description": "Works for server messages, DMs and threads.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.message-link",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "A discord.com message link.",
            "example": "https://discord.com/channels/197038439483310086/123456789012345678/123456789012345679",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/markdown": {
      "get": {
        "summary": "Discord markdown reference",
        "description": "The table behind the Markdown Guide tool.",
        "tags": [
          "Developer"
        ],
        "operationId": "dev.markdown",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/badges": {
      "get": {
        "summary": "List every user badge",
        "description": "Badge ids and descriptions, for building a badge viewer.",
        "tags": [
          "Discord"
        ],
        "operationId": "dev.badges",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/vtt": {
      "get": {
        "summary": "Parse WebVTT captions",
        "description": "Returns cue timings in seconds plus a Discord soundboard payload.",
        "tags": [
          "Misc"
        ],
        "operationId": "misc.vtt",
        "parameters": [
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "VTT file contents.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Parse WebVTT captions",
        "description": "Returns cue timings in seconds plus a Discord soundboard payload.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Misc"
        ],
        "operationId": "misc.vttPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "VTT file contents."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
    "/api/v1/age": {
      "get": {
        "summary": "Age statistics for a date",
        "description": "Same breakdown as the Age Tool.",
        "tags": [
          "Misc"
        ],
        "operationId": "misc.age",
        "parameters": [
          {
            "name": "dob",
            "in": "query",
            "required": true,
            "description": "Date of birth, YYYY-MM-DD or ISO.",
            "example": "2000-04-01",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Reference date. Defaults to now.",
            "example": "2026-01-01",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      },
      "post": {
        "summary": "Age statistics for a date",
        "description": "Same breakdown as the Age Tool.\n\nThe POST form takes the same parameters in a JSON body. It is not served by GitHub Pages, which only answers GET and HEAD, but it is what a self-hosted copy of this handler expects.",
        "tags": [
          "Misc"
        ],
        "operationId": "misc.agePost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dob": {
                    "type": "string",
                    "description": "Date of birth, YYYY-MM-DD or ISO.",
                    "example": "2000-04-01"
                  },
                  "from": {
                    "type": "string",
                    "description": "Reference date. Defaults to now.",
                    "example": "2026-01-01"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          }
        }
      }
    },
[...]
